.pagination {
    margin: 103px 0 35px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 210px;

    .button {
        border-radius: 2px;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 0.08);
        margin: 0 3px;
        display: block;
        transition: 300ms;
        cursor: pointer;
    }

    .active {
        width: 10px;
        background-color: var(--primary);
    }
}